spring:
  config:
    activate:
      on-profile: test

  datasource:
    # url: jdbc:tc:postgresql:16-alpine:///thebank
    # driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:h2:mem:thebank-test;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  flyway:
    enabled: true

logging:
  level:
    com.thebank: INFO
